#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.dolphin-showing {
  display: none;
}

.clickable2 {
  cursor: pointer;
  color: red;
}

.clickable2:hover {
  text-decoration: underline;
}